:root{
  --color-header : #26704f;
  --color-sections: #213037;
  --color-blue: #2b898b;
  --color-orange: #F88E28;
  --color-ligth-orange: #F8B735;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Cantarell', sans-serif;;
}

body>div{
  height: 100%;
  display:flex;
  flex-direction: column;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: var(--color-orange)
}

* {
  box-sizing: border-box;
}


/* Header styles */ 
header {
  display: flex;
  background-color: var(--color-header);
  justify-content: space-between;
  min-height:50px;
}

header>div{
  width: 20%
}


/* Header styles */ 
footer{
  background-color: var(--color-sections);
  color:white;
  min-height:100px;
}

/* Main content */ 
.main-content{
  width: 70%;
  margin:0 auto;
  padding: 50px 0px;
}



/* HELPERS */
.w-80{
  width: 80%;
  margin: 0 auto;
}
.w-70{
  width: 70%;
  margin: 0 auto;
}
.w-15{
  width: 15%;
}

.text-green-p{
  color:var(--color-header);
}