.navbar{
    width:70%;
    padding: 0px;
}

.links{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px;
    margin: 0px;
    height:100%;
    width:100%;
    text-decoration: none;
    list-style: none;
    color:white;
}
 
.sides{
    width:10%;
    display:flex;
    align-items: center;
    justify-content: center;
}